<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhengxl.mybatiscache.mapper.UserMapper">
    <!--对UserMapper开启二级缓存-->
<!--    <cache eviction="LRU">-->
<!--    </cache>-->
    <cache-ref namespace="com.zhengxl.mybatiscache.mapper.UserOrderMapper"/>
    <!--通用基础字段-->
    <sql id="baseColumn">
        `id`,`name`,`pass_word`
    </sql>
    <select id="selectById" resultType="User">
        select <include refid="baseColumn"/> from user
        where id = #{id}
    </select>
    <select id="selectJoin" resultType="com.zhengxl.mybatiscache.dto.UserDTO">
        select a.id,a.name,a.pass_word,b.good_name from user as a
        left join user_order as b
        on a.id = b.user_id
    </select>

    <insert id="saveUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="User">
        insert into user
        (
        `name`,
        `pass_word`
        )
        values
        (
        #{name},
        '9'
        )
    </insert>
</mapper>