<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhengxl.mybatiscache.mapper.UserOrderMapper">
    <cache></cache>
    <!--通用基础字段-->
    <sql id="baseColumn">
        `id`,`user_id`,`good_name`
    </sql>
    <select id="selectById" resultType="UserOrder">
        select <include refid="baseColumn"/> from user_order
        where id = #{id}
    </select>

    <insert id="saveOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="UserOrder">
        insert into user_order
        (
        `user_id`,
        `good_name`
        )
        values
        (
        #{userId},
        #{goodName}
        )

    </insert>
</mapper>